<html>
<head>
  <title>WELCOME TO THE TODO LIST!</title>
</head>
<body>

<h1>WELCOME TO THE TODO LIST!</h1>
</br>
</br>

<a href="http://localhost:4567/new_task">New Task</a>


</form>
</body>
</html>