<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <h1> Von Asken's address book </h1>

  </head>

  <body>

<li> <a href="/new"> Contact</a></li>

    <%= yield %>
  </body>
</html>
