<!-- views/add.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>

<h1>Add</h1>
</br>
</br>


<form action="/calculation" method="POST">Place the 
  <input type="number" name="first_number" placeholder="1st number"> and
  <input type="number" name="second_number" placeholder="2nd number">
</br>


	<button type="submit" name="operation" value="addition">ADD</button></br>

	<button type="submit" name="operation" value="division">DIVISION</button></br>

	<button type="submit" name="operation" value="multiplication">MULTIPLICATION</button></br>

	<button type="submit" name="operation" value="substraction">SUBSTRACTION</button></br>

 	</br>

  <button type="submit">Calculate</button>

 
  	</br>

</form>
</body>
</html>