// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to-login {
  background-color: turquoise ;
  border-radius: 5px;
  padding: 20px;
}
