
.netflix {
    position: absolute;
    top: 0;
    left:40;
    
    
}

.h{
	width:230px;
    

}
.h:last-child {
	margin-right: 0;
}
.boxed {
position: absolute;
    top: 35;
    right: 50;
	background-color: red ;
	width: 150px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 9px; 
	color: white;
	font-size: 20;

  
}

div.texto{
position: absolute;
    top: 30;
    left: 29;
	text-align: left;
	vertical-align: middle;
	line-height: 12px;
   color: white;
   font-size: 60;
    font-weight: bold;
    opacity:1;
}

.transboxed {
	position: absolute;
    top: 220 ;
    right: 250;
    width: 750px;
	height: 310px;
  background-color: rgba(0, 0, 0, 0.5);
  
   /* For IE8 and earlier */

}
.blueboxed {
position: absolute;
    top: 220 ;
    left: 200 ;
	background-color: #469df6 ;
	width: 250px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	line-height: 9px; 
	color: white;
	font-size: 23;

  
}

.new{

}

.ghost{
	display: inline-block
}




