<%# add navigation links to this file %>

<li>
<%= link_to_unless_current 'Home', home_path %>
  <!-- Home Link -->
</li>
<li>
	 <%= link_to_unless_current 'About', about_path %>
	<!-- About Link -->
</li>
<li>
<%= link_to_unless_current 'Blog', blog_path %>
	<!-- Blog link -->
</li>
<li>
<%= link_to_unless_current 'Contact', contact_path %>
	<!-- Contact Link -->
</li>
