</body>
</html>

<html>
<head>
  
</head>
<body>


</br>
</br><center>
<font face="Comic Sans MS" size="7" color="blue"><h1>Movie Trivia!</h1></font>


</form>
</body>
</html>



<html>
<head>
  <title>WELCOME TO THE RESULTS!</title>
</head>
<body>

<font color="red"><h1>HERE ARE YOUR RESULTS!</h1></center></font>
</br>
</br>


</form>
</body>
</html>


<html>
<body style ="background: url(http://cdn.collider.com/wp-content/uploads/dark-knight-rises-movie-poster-banner-batman.jpg) top center no-repeat;">
<style type="text/css">
h1 {
  z-index: 5;
  position: relative;
}
</style>
<!-- <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='http://flashbak.com/wp-content/uploads/2014/07/collage-copy.jpg' style='width:100%;height:100%' alt='[]' />
</div> -->
<!-- <div id="container" style="background: #fff; margin: 0 auto; padding: 20px; width: 600px;">







</div> -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>
