

<h2> List of Projects </h2>
<ul> 

	<% @projects.each do |project| %>

			<li><%= link_to project.name, project_path(project.id) %> 

			<!-- <a href="/projects/7777">
			Papa John's Virtual Pizza </a> -->

			<% if @projects = project.description %>
				
				- <%= project.description %>
		
			<%end%>


			<%= link_to("see time entries", project_time_entries_path(project)) %></br>
			</li>

	<%end%>

</ul>

<%= link_to "New Project", new_project_path %></br>
