<h1>Concert List</h1>

<br>
	<br>
	<% @concerts.each do |concert| %>
<br>
	<br>
	
	<div class="concert">
		<strong>Artist:&nbsp;</strong> <%= concert.artist %><br>
		
		<%= link_to 'Show', concert_path(concert) %>
		<%= link_to 'Modify', edit_concert_path(concert) %>

		</div>	
		<br>
	<br>
		<%end%>
	

