<html>
<body style ="background: url(http://flashbak.com/wp-content/uploads/2014/07/collage-copy.jpg) top center no-repeat;">
<style type="text/css">
h1 {
  z-index: 5;
  position: relative;
}
</style>
<!-- <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='http://flashbak.com/wp-content/uploads/2014/07/collage-copy.jpg' style='width:100%;height:100%' alt='[]' />
</div> -->
<!-- <div id="container" style="background: #fff; margin: 0 auto; padding: 20px; width: 800px;"> -->


<center><font face="Comic Sans MS" size="7" color="red"><h1>Movie Trivia!</h1></font>

<form action="/search_results" method="GET">
  <input type="text" name="search" placeholder="Search Movies"> 
   <input type="submit" value="Submit">
  </form></center>



<!-- </div> -->
</body>
</html>