<!-- <h1>  MAVA time tracking  </h1>


<a href="/contact">Contact Me here!</a>
<p> Ironhack powered</p> -->



<%= link_to "Index Biaaatch!", "/projects" %></br>

</br>
</br>
</br>

<%= image_tag "giphy.gif" %>
