<!-- RAILS NEED UNDERSCORE TO REFERENCE THE PARTIAL -->


<ul><strong>
  		<li> <a href="/">home</a></li>
  		<li> <a href="/contact"> Contact</a></li>
  		<li> <a href="/calculator">Calculator</a></li>
  		<li> <a href="/projects"> Index Biiaaaatch</a></br>
  		<li> <a href="/projects/new"> Add a New Project</a></br>
</strong>
  	</ul>